{
    "extends": "airbnb-base",
    "env": {
      "node": true,
      "mocha": true
    },
    "rules": {
      "no-undef": ["off"],
      "no-trailing-spaces": ["warn"],
      "no-unused-expressions": ["warn", { "ignore": ["expect"] }]
    }
}
